@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

.link-style {
  @apply text-cyan-400 underline decoration-dotted decoration-2;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: JetBrains Mono, monospace;
}
