@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #191724;
  --foreground: #e0def4;
}

.link-style {
  @apply text-[#9ccfd8] decoration-[#9ccfd8] underline decoration-dotted decoration-2;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: JetBrains Mono, monospace;
}
